auto-install-peers=true

save-workspace-protocol=rolling
save-prefix=''


#! -------------
#! Note: PNPM Adds the following public-hoist-patterns by default.
#!       Overriding these defaults to match expected monorepo behavior and approach.
#! see: https://github.com/pnpm/pnpm/blob/v6.11.5/packages/config/src/index.ts#L180-L187
#!      https://pnpm.io/npmrc#public-hoist-pattern

#! Packages like @types/node, @babel/types should never be publicly hoisted as it
#! breaks workspace project independence - project might have access to @types/* deps
#! without explicitly adding devDependency
# public-hoist-pattern[]='*types*'

#! see @toolchain/eslint-config
# public-hoist-pattern[]='*eslint*'

#! Based on monorepo behavior, Prettier is always defined globally for the entire repo.
# public-hoist-pattern[]='@prettier/plugin-*'
# public-hoist-pattern[]='*prettier-plugin-*'
